#navigation li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;

  font-size: 26pt;
  font-style: none;
  font-weight: normal;

  font-family: 'Josefin Sans', sans-serif;
}

#navigation li a {

  font-size: 26pt;
  font-style: none;
  font-weight: normal;

  font-family: 'Raleway', sans-serif;

  text-shadow: none;
}

/**
 * Create question section
 */

.create-element-section {
    margin-left: -15px;
    margin-right: -15px;
    border: 0px solid #666;
    padding: 5px;
    margin-bottom: 0px;
    display: none;
}

/**
 *
 */

#create-question-section {
    background-color: #54bef9;
}

#create-causeandeffect-section {
    background-color: #30a382;
}

#create-investigation-section {
    background-color: #fb6567;
}

/**
 * Chosen element section
 */

.selected-element h1, .selected-element h2, 
.create-element-section h1, .create-element-section h2 {
    font-size: 26pt;
    font-style: none;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-shadow: none;
}

.selected-element #selected-question-text {
    font-size: 18pt;
    font-style: none;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: none;
}

.selected-element {
    background-color: #54bef9;
    margin-left: -15px;
    margin-right: -15px;
    border: 0px solid #666;
    padding: 5px;
    margin-bottom: 0px;
    display: none;
}

/**
 * Chosen question section
 */

#selected-question-element {
    background-color: #54bef9;
}

#selected-question-element #selected-question-options {
    margin-top: 8px;
}

/**
 * Chosen cause-and-effect section
 */

#selected-causeandeffect-element {
    background-color: #30a382;
}

/**
 * Chosen investigation section
 */

#selected-investigation-element {
    background-color: #fb6567;
}

/**
 * Isotope styles
 */

/** Override Isotope default Styles **/

#container {
  /*background-color: #54bef9;*/
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  border: 0px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}

.horizontal #container {
  height: 80%;
}

/** Isotope Styles **/

.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  /*border: 1px solid #54bef9;*/
  -webkit-border-top-right-radius: 0em;
      -moz-border-radius-topright: 0em;
          border-top-right-radius: 0em;
}

/*
.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
*/

.element * {
  position: absolute;
  margin: 0;
}

.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #FFF;
}
.element.large .symbol {
  font-size: 4.5em;
}

.element.fake .symbol {
  color: #000;
}

.element .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

/* Question text */
.question .text {
  top: 0.4em;
  left: 0.5em;
  right: 0.5em;
  /*bottom: 1.6em;*/
  font-size: 1.05em;
  color: #FFF;
}

.causeandeffect .cause {
  top: 0.4em;
  left: 0.5em;
  /*bottom: 1.6em;*/
  font-size: 1.05em;
  color: #FFF;
}

.causeandeffect .effect {
  top: 3.8em;
  left: 0.5em;
  /*bottom: 1.6em;*/
  font-size: 1.05em;
  color: #FFF;
}

.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.expanded-element .element.width2 { width: 100%; }

.expanded-element .element.height2 { height: 230px; }

.height3 {
    height: 225px;
}

.expanded-element .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.expanded-element .element.large,
.expanded-element .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}